/*CSS Grid by Ryan and Dipto GNU License 2018*/
.container {
  padding: 0 20px;
  height: 100%;
  background: #9b59b6;
}

.row {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

[class*="col-"] {
  width: 100%;
  min-height: 1px;
}

.col {
  padding: 1em;
  margin: 8px;
  background: #e74c3c;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 320px) {
  .col-wd-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
  }
  .col-wd-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
  }
  .col-wd-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .col-wd-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }
  .col-wd-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
  }
  .col-wd-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .col-wd-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
  }
  .col-wd-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
  }
  .col-wd-9 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
  }
  .col-wd-10 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
  }
  .col-wd-11 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .col-wd-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media screen and (min-width: 640px) {
  .col-md-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
  }
  .col-md-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
  }
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .col-md-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }
  .col-md-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
  }
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .col-md-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
  }
  .col-md-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
  }
  .col-md-9 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
  }
  .col-md-10 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
  }
  .col-md-11 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media screen and (min-width: 960px) {
  .col-sm-1 {
    -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%;
  }
  .col-sm-2 {
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
  }
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }
  .col-sm-5 {
    -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
  }
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .col-sm-7 {
    -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
  }
  .col-sm-8 {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
  }
  .col-sm-9 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%;
  }
  .col-sm-10 {
    -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
  }
  .col-sm-11 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
/*# sourceMappingURL=main.css.map */